# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual Environment
venv/
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Outputs
outputs/
uploads/

# Python cache
.pytest_cache/

# OS files
.DS_Store
Thumbs.db

# Docker
*.log